---
layout: page
---
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <img src="{{ page.featured | prepend: site.baseurl }}" alt="page.title" class="img-fluid"/>
      </div>
      <div class="col-9">
        <p class="lead">{{ content }}</p>
      </div>
    </div>
  </div>
</div>

<ul id="{{ page.url | slugify }}" class="list-group">
  {% assign traducoes = site.traducoes | where:"system", page.title %}
  {% for traducao in traducoes %}
    <li id="{{ traducao.url | slugify }}" class="list-group-item">
      <a href="{{ traducao.url | prepend: site.baseurl }}" alt="{{ traducao.title }}">
        {{ traducao.patch_name }}
      </a>
    </li>
  {% endfor %}
</ul>
